<!DOCTYPE html>
<html>
<header>
  <title>About</title>
  <link rel="stylesheet" href="/css/styles.css">
</header>

<body>
  <dev class="main-content">
    {{>header}}
    <p>this site was created by ali hashem ,it uses data from mapbox.com and openweathermap.org/</p>
    <img src="./imgs/ali.jpg" width="250" height="250">
    <p>use this to get more about us</p>
  </dev>

  {{>footer}}
</body>

</html>