<!DOCTYPE html>
<html>
<header>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</header>

<body>
    <dev class="main-content">
        {{>header}}
        <p>You can get help from here</p>
    </dev>

    {{>footer}}
</body>

</html>